@model List<Person>

@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    
}

<p>It is @currentYear now @dayOfWeek :)</p>

@if(dayOfWeek == DayOfWeek.Saturday || dayOfWeek == DayOfWeek.Sunday)
{
    <p>It is weekend!</p>
}
else
{
    <p>It is not weekend :(</p>
}
<br />
<p>Firsname | Lasname</p>
@foreach(var person in Model)
{
    <p>@person.FirtsName | @person.LastName</p>
}
